* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #FFBCD1;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
}

quotes-list {
    display: block;
    margin-top: 32px;
    width: 100%;
    padding: 16px;
  }